/* Signup.css */

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #fdfdfd;
  }
  
  .signup-box {
    width: 350px;
    height: 460px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
  }
  
  .signup-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-bottom: 20px
  }
  
  .signup-divider {
    margin: 10px 0 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .signup-input-group {
    margin-bottom: 15px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .signup-input-group.horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .signup-input-group label {
    width: 80px;
    font-size: 0.95rem;
    color: #333;
  }
  
  .signup-input-group input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #ffefc2;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px
  }
  .signup-footer {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
  }
  
  .signup-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-footer a:hover {
    text-decoration: underline;
  }
  .signup-button:hover {
    background-color: #ffe199;

  }